{
    "rules": {
        "no-console": 0,
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "never"
        ]
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended"
}